@model IEnumerable<string>

@{
    ViewData["Title"] = "GoogleResponse";
}

<h1 class="bg-info text-white">Your Login Details</h1>

<table class="table table-sm table-bordered text-white">
    <tr><th>Name</th><th>Email</th></tr>
    <tr>
        @foreach (string info in Model)
        {
            <td>@info</td>
        }
    </tr>
</table>
<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
