@model IEnumerable<HouseholdManager.Models.Room>

@{
    ViewData["PageTitle"] = "Rooms";
    ViewData["PageActionText"] = "+ New Room";
    ViewData["PageActionUrl"] = "/Room/AddOrEdit";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="rooms" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Room" field="RoomNameWithIcon"></e-grid-column>

                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
    <partial name="_Sidebar" />
</div>


<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Room/AddOrEdit/${RoomId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Room/Delete/${RoomId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>