@model HouseholdManager.Models.Task

@{
    ViewData["PageTitle"] = Model.TaskId == 0 ? "Create a new task" : "Edit task";
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color: #1a222b">
            <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="TaskId" value="@Model.TaskId" />
                <div class="mb-3">
                    <ejs-textbox id="taskName" placeholder="TaskName" ejs-for="TaskName" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="TaskName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="taskIcon" placeholder="TaskIcon" ejs-for="TaskIcon" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="TaskIcon" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-rating id="points" placeholder="Points" ejs-for="Points" floatLabelType="Always"></ejs-rating>
                    <span asp-validation-for="Points" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="RoomId" class="control-label"></label>
                    <select asp-for="RoomId" class ="form-control" asp-items="ViewBag.RoomId"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                </div>               
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
        </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-regular fa-square-check fa-2xl"></i>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
