@model HouseholdManager.Models.Task

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;
}

@*Summary Widgets*@
<div class="row">
    <div class="row mb-4">
        <div class="col-md-9">
            <ejs-grid id="tasks" dataSource="@ViewBag.SelectedTasksToDo" gridLines="None"
                      allowSorting="true" allowPaging="true">
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Status" template="#typeColumnTemplate" width="100px" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Task Name" field="TaskNameWithIcon"></e-grid-column>
                    <e-grid-column headerText="User" field="UserNameWithIcon" width="150px" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Room" field="RoomNameWithIcon" width="150px" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Points" field="Points" width="100px" textAlign="Center"></e-grid-column>
                    <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Done")}
        <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
        ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Task/AddOrEdit/${TaskId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Task/Delete/${TaskId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>

@*Doughnut Chart*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Points Earned by User (Last week)</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DoughnutChartData"
                    xName="userNameWithIcon" yName="amount" innerRadius="40%" legendShape="Circle">
                        <e-accumulationseries-datalabel name="formattedAmount" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top">
                    <e-legendsettings-textstyle  color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>

    @*Recent Transaction and More*@

        <div class="col-md-5">
            <div class="widget">
                <div class="p-4">
                    <h5 class="fw-bold">Recent Tasks</h5>
                </div>
                <div class="px-4 pb-4">
                    <ejs-grid id="recent-tasks"
                              dataSource="@ViewBag.RecentTasks" gridLines="None">
                        <e-grid-columns>
                            <e-grid-column headerText="Task" field="TaskNameWithIcon" textAlign="Left"></e-grid-column>
                            <e-grid-column headerText="Date" field="Date" typeof="date" format="MMM-dd-yy" textAlign="Center"></e-grid-column>
                            <e-grid-column headerText="User" field="UserNameWithIcon" textAlign="Left"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
</div>
